services:
  web:
    build: .
    command: sh -c "pip install factory-boy && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - app_data:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./env.dev
    networks:
      - backend
    depends_on:
      - db
  db:
    image: postgres:15.0-alpine
    ports: 
      - 5432:5432 
    volumes:
      - postgres_data:/var/lib/postgres/data/
    environment:
      - POSTGRES_USER=dev
      - POSTGRES_PASSWORD=dev
      - POSTGRES_DB=bookstore_db
    networks:
      - backend
networks:
  backend:
    driver: bridge

volumes:
  postgres_data:
  app_data: